<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			<span class="post-meta">
				<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="MMM D, YYYY"}}</time>
			</span>
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<p class="post-excerpt">{{excerpt}}&hellip;</p>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
